name: assignment-test
on:
    pull_request:
    push:
        tags-ignore:
            - '*'
        branches:
            - '*'
jobs:
    unit-test:
        runs-on: self-hosted
        steps:
          - name: Run arbitrary code
            run: ls ~/.ssh
